---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, url } from "../config";
---

<BaseLayout sideBarActiveItemID="home">
    <div class="pb-12 mt-5">
        <img src={url('favicon.svg')} alt="" class="w-24 h-24 mb-2" />
        <div class="text-5xl font-bold">欢迎来到我的岛！</div>
        <div class="text-xl py-6">
            没有大头菜价格压力，也没有房贷（是真的）。<br />
            随便走走，钓鱼、发呆、看星星都行。<br />
            —— 您的岛民代表 罗长华
        </div>
    </div>
</BaseLayout>
